@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Categories
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model)
        {
            <div>
                <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </div>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-controller="Product" asp-action="List" asp-route-category="">View All Products</a>
    </div>
</li>

        