<div class="col-sm-12 col-md-12 col-lg-12">
    <div>
        <h4>Please contact us by sending an email using the link below.</h4>
    </div>
    <div>
        <h5>
            <email address="info@zerowasteshopwebsite.com" link-text="Contact us"></email>
        </h5>
    </div>
</div>