@model ShoppingCartViewModel

@if (Model.ShoppingCart.ShoppingCartItems.Count > 0)
{
    <li class="nav-item active">
        <a class="nav-link" asp-controller="" asp-action="">Cart
            <span id="cart-status" style="font-weight:bold">@Model.ShoppingCart.ShoppingCartItems.Count</span>
        </a>
    </li>
}